.gradient-custom {
  /* background: -webkit-linear-gradient(to left, #6cbdb8, #acdbc6);
  background: linear-gradient(to left, #6cbdb8, #acdbc6); */
  background: #dcdcdc;
}

.gradient-custom-inner {
  background: #f17e27;
}
.editBtn {
  border: 1px solid #6cbdb8;
  color: #6cbdb8;
}
.editBtn:hover {
  background-color: #6cbdb8;
  color: white;
}
