<section class="gradient-custom py-5 shadow rounded-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-10 col-xl-8 col-sm-10">
      <div class="card" style="border-radius: 10px">
        <div class="card-header px-4 py-5">
          <h4 class="text-muted mb-0 fst-italic">
            Lo que tenés que saber de este proveedor
          </h4>
        </div>
        <section style="background-color: #f4f5f7">
          <div class="container py-5">
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <div class="col col-lg-10 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: 0.5rem">
                  <div class="row g-0">
                    <div
                      class="col-md-4 gradient-custom-inner text-center text-white"
                      style="
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                      "
                    >
                      <img
                        [src]="proveedor.logo"
                        [alt]="proveedor.razonSocial"
                        (error)="handleImageError($event)"
                        class="img-fluid my-5"
                        style="width: 80px"
                      />
                      <h3>{{ proveedor.razonSocial }}</h3>
                      <h4>
                        <a href="#" class="text-light">{{
                          proveedor.sitioWeb
                        }}</a>
                      </h4>
                      <p>{{ proveedor.rubro.rubro }}</p>
                      <i class="far fa-edit mb-5"></i>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body p-4">
                        <h5>Contacto</h5>
                        <hr class="mt-0 mb-4" />
                        <div class="row pt-1">
                          <div class="col-6 mb-3">
                            <h5>Persona responsable</h5>
                            <p class="text-muted">
                              {{ proveedor.representanteContacto.apellido }}
                              {{ proveedor.representanteContacto.nombre }}
                            </p>
                          </div>
                          <div class="col-6 mb-3">
                            <h5>Rol</h5>
                            <p class="text-muted">
                              {{ proveedor.representanteContacto.rol }}
                            </p>
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="col-6 mb-3">
                            <h5>Email</h5>
                            <p class="text-muted">{{ proveedor.email }}</p>
                          </div>
                          <div class="col-6 mb-3">
                            <h5>Teléfono</h5>
                            <p class="text-muted">{{ proveedor.telefono }}</p>
                          </div>
                        </div>
                        <h5>Información</h5>
                        <hr class="mt-0 mb-4" />
                        <div class="row pt-1">
                          <div class="col-6 mb-3">
                            <h5>Ubicación</h5>
                            <p class="text-muted">
                              {{ proveedor.domicilio.provincia.nombre }},
                              {{ proveedor.domicilio.provincia.pais.nombre }}
                            </p>
                          </div>
                          <div class="col-6 mb-3">
                            <h5>Domicilio</h5>
                            <p class="text-muted">
                              {{ proveedor.domicilio.calle }}
                              {{ proveedor.domicilio.numero }},
                              {{ proveedor.domicilio.localidad }}
                            </p>
                          </div>
                        </div>
                        <div class="row pt-1">
                          <div class="col-6 mb-3">
                            <h5>CUIT</h5>
                            <p class="text-muted">
                              {{ proveedor.cuit }}
                            </p>
                          </div>
                          <div class="col-6 mb-3">
                            <h5>Condición IVA</h5>
                            <p class="text-muted">
                              {{ proveedor.tipoIva.tipoIva }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
