.row {
  background: #2e3f4c;
}

.bg {
  background-image: url(../../../assets/bg-new.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.form-bg {
  background-color: whitesmoke;
}
