.gradient-custom {
  background: #dcdcdc;
}

h1,
h2 {
  color: #2e3f4c;
}

.editBtn {
  border: 1px solid #6cbdb8;
  color: #6cbdb8;
}

.editBtn:hover {
  background-color: #6cbdb8;
  color: white;
}

.infoBtn {
  border: 1px solid gray;
  color: gray;
}

.infoBtn:hover {
  background-color: gray;
  color: white;
}
