.gradient-custom {
  /* background: -webkit-linear-gradient(to left, #6cbdb8, #acdbc6);
  background: linear-gradient(to left, #6cbdb8, #acdbc6); */
  background: #dcdcdc;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
