<div class="row">
  <h1 class="my-5">Formulario creación de Proveedores</h1>
</div>
<form
  class="row g-3 p-3 col-6 offset-3 border border-dark mb-5"
  (ngSubmit)="onSubmit()"
  #proveedorForm="ngForm"
>
  <h5 class="text-start text-danger mt-0">Empresa</h5>
  <div class="col-md-12">
    <label for="inputRazonSocial" class="form-label">Razon social</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputRazonSocial"
      name="razonSocial"
      [(ngModel)]="razonSocial"
    />
  </div>
  <div class="col-md-6">
    <label for="inputTipoIva" class="form-label">Tipo IVA</label>
    <select
      required
      id="inputTipoIva"
      class="form-select border border-dark"
      name="tipoIva"
      [(ngModel)]="tipoIva"
    >
      <option selected>Responsable Inscripto</option>
      <option>Monotributista</option>
      <option>Exento</option>
      <option>Consumidor Final</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputRubro" class="form-label">Rubro</label>
    <select
      required
      id="inputRubro"
      class="form-select border border-dark"
      name="rubro"
      [(ngModel)]="rubro"
    >
      <option selected>Tecnología</option>
      <option>Alimentación</option>
      <option>Moda</option>
      <option>Salud</option>
      <option>Educación</option>
    </select>
  </div>
  <div class="col-md-12">
    <label for="inputSitioWeb" class="form-label">Sitio Web</label>
    <input
      required
      type="url"
      class="form-control border border-dark"
      id="inputSitioWeb"
      placeholder="https://example.com"
      name="sitioWeb"
      [(ngModel)]="sitioWeb"
    />
  </div>
  <h5 class="text-start text-danger mt-3 mb-0">Domicilio</h5>
  <div class="col-6">
    <label for="inputDireccion" class="form-label">Dirección</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputDireccion"
      placeholder="1234 Main St"
      name="direccion"
      [(ngModel)]="direccion"
    />
  </div>
  <div class="col-6">
    <label for="inputCP" class="form-label">Código Postal</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputCP"
      placeholder="1900"
      name="codigoPostal"
      [(ngModel)]="codigoPostal"
    />
  </div>
  <div class="col-6">
    <label for="inputLocalidad" class="form-label">Localidad</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputLocalidad"
      placeholder="La Plata"
      name="localidad"
      [(ngModel)]="localidad"
    />
  </div>
  <div class="col-6">
    <label for="inputProvincia" class="form-label">Provincia</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputProvincia"
      placeholder="Buenos Aires"
      name="provincia"
      [(ngModel)]="provincia"
    />
  </div>
  <div class="col-12">
    <label for="inputPais" class="form-label">País</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputPais"
      placeholder="Argentina"
      name="pais"
      [(ngModel)]="pais"
    />
  </div>
  <h5 class="text-start text-danger mt-3 mb-0">Datos de Contacto</h5>
  <div class="col-6">
    <label for="inputNombreCompleto" class="form-label">Nombre Completo</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputNombreCompleto"
      placeholder="Simón"
      name="nombreCompleto"
      [(ngModel)]="nombreCompleto"
    />
  </div>
  <div class="col-6">
    <label for="inputTelefono" class="form-label">Teléfono</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputTelefono"
      placeholder="555-5678"
      name="telefono"
      [(ngModel)]="telefono"
    />
  </div>
  <div class="col-6">
    <label for="inputEmail" class="form-label">Correo Electrónico</label>
    <input
      required
      type="email"
      class="form-control border border-dark"
      id="inputEmail"
      placeholder="juanperez@gmail.com"
      name="email"
      [(ngModel)]="email"
    />
  </div>
  <div class="col-6">
    <label for="inputRol" class="form-label">Rol</label>
    <input
      required
      type="text"
      class="form-control border border-dark"
      id="inputRol"
      placeholder="Director Ejecutivo"
      name="rol"
      [(ngModel)]="rol"
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success btn-lg">Enviar</button>
  </div>
</form>
