<div class="gradient-custom rounded-5 shadow-lg pb-5" style="min-height: 60vh">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-sm-10">
      <h2 class="mt-4">Proveedores</h2>
      <div class="row justify-content-center mb-3 mt-4 align-items-center">
        <a
          type="button"
          class="btnAdd fw-bolder col-3 btn btn-success col-sm-12 col-md-3 mb-3 shadow"
          routerLink="/proveedores/form-proveedores"
        >
          <fa-icon [icon]="faUser" class="me-3"></fa-icon
          ><span>Agregar Proveedor</span>
        </a>
      </div>
      <div class="row justify-content-end mb-3">
        <label
          class="col-md-3 col-sm-12 form-check-label"
          for="showActiveOnlyCheckbox"
          role="button"
        >
          Mostrar eliminados
          <input
            class="form-check-input border-black fw-bolder"
            type="checkbox"
            id="showActiveOnlyCheckbox"
            [(ngModel)]="mostrarEliminados"
            (change)="listarProveedores()"
          />
        </label>
      </div>
      <div
        *ngIf="proveedores.length > 0; else noProveedores"
        class="table-responsive shadow-lg rounded-3"
      >
        <table class="table table-light table-hover align-middle m-0">
          <thead class="table-success">
            <tr>
              <th scope="col" class="d-none d-lg-table-cell">Logo</th>
              <th scope="col">Código</th>
              <th scope="col">Razón social</th>
              <th scope="col" class="d-none d-lg-table-cell">Info General</th>
              <th scope="col" class="d-none d-lg-table-cell">Titular</th>
              <th scope="col">Rubro</th>
              <th scope="col">Funcionalidades</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr
              class="align-middle fw-medium"
              *ngFor="let proveedor of proveedores"
            >
              <td class="d-none d-lg-table-cell">
                <img
                  src="{{ proveedor.logo }}"
                  class="object-fit-contain"
                  style="width: 50px"
                  alt="{{ proveedor.razonSocial }}"
                  (error)="handleImageError($event)"
                />
              </td>
              <td>{{ proveedor.codigo }}</td>
              <td>{{ proveedor.razonSocial }}</td>
              <td class="d-none d-lg-table-cell">
                {{ proveedor.email }}<br />{{ "Tel: " + proveedor.telefono }}
                <br />{{ proveedor.sitioWeb }}
              </td>
              <td class="d-none d-lg-table-cell">
                {{
                  proveedor.representanteContacto.nombre +
                    " " +
                    proveedor.representanteContacto.apellido
                }}
              </td>
              <td>{{ proveedor.rubro.rubro }}</td>
              <td>
                <div class="d-flex justify-content-center gap-3">
                  <button
                    type="button"
                    class="deleteBtn btn"
                    (click)="eliminarProveedor(proveedor)"
                    [title]="
                      mostrarEliminados
                        ? 'Activar Proveedor - ' + proveedor.razonSocial
                        : 'Eliminar Proveedor - ' + proveedor.razonSocial
                    "
                    [ngClass]="
                      mostrarEliminados
                        ? 'm-0 btn-outline-primary'
                        : ' btn-outline-danger'
                    "
                  >
                    <fa-icon
                      [icon]="mostrarEliminados ? faCheck : faTrashCan"
                      class="fw-bolder fs-5"
                    ></fa-icon>
                  </button>
                  <button
                    type="button"
                    class="editBtn btn btn-outline-primary"
                    (click)="editarProveedor(proveedor.id)"
                    [title]="'Editar Proveedor - ' + proveedor.razonSocial"
                    [ngClass]="mostrarEliminados ? 'd-none' : ''"
                  >
                    <fa-icon
                      [icon]="faPenToSquare"
                      class="fw-bolder fs-5"
                    ></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #noProveedores>
  <h2 *ngIf="mostrarEliminados; else noProveedoresMessage">
    No hay proveedores eliminados.
  </h2>
  <ng-template #noProveedoresMessage>
    <h2>No hay proveedores disponibles.</h2>
  </ng-template>
</ng-template>
