.gradient-custom {
  background: -webkit-linear-gradient(to left, #6cbdb8, #acdbc6);
  background: linear-gradient(to left, #6cbdb8, #acdbc6);
}

h1,
h2 {
  color: #2e3f4c;
}

/* .deleteBtn {
  border: 1px solid #c23a00;
  color: #c23a00;
}

.deleteBtn:hover {
  background-color: #c23a00;
  color: white;
} */

.editBtn {
  border: 1px solid #6cbdb8;
  color: #6cbdb8;
}

.editBtn:hover {
  background-color: #6cbdb8;
  color: white;
}
