<div class="gradient-custom rounded-5 shadow-lg pb-5" style="min-height: 60vh">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-sm-10">
      <div class="row justify-content-center mb-3 mt-4 align-items-center">
        <a
          type="button"
          class="btnAdd fw-bolder col-3 btn col-10 col-md-3 mb-3 shadow"
          routerLink="/productos/form-productos"
        >
          <fa-icon [icon]="faCirclePlus" class="me-3"></fa-icon
          ><span>Agregar Producto</span>
        </a>
      </div>
      <div class="row flex-row justify-content-between mb-3 align-items-center">
        <div class="col-md-2 col-10">
          <select
            class="form-select fs-6"
            aria-label="Default select example"
            [(ngModel)]="categoriaId"
            #categoria="ngModel"
            (change)="listarProductos()"
          >
            <option value="" disabled selected>Filtrar por categoria</option>
            <option value="0">Mostrar todos</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.categoria }}
            </option>
          </select>
        </div>
        <div class="col-md-3 col-sm-12 col-12 mt-sm-3">
          <label
            class="form-check-label"
            for="showActiveOnlyCheckbox"
            role="button"
          >
            Mostrar eliminados
            <input
              class="form-check-input border-black fw-bolder"
              type="checkbox"
              id="showActiveOnlyCheckbox"
              [(ngModel)]="mostrarEliminados"
              (change)="listarProductos()"
            />
          </label>
        </div>
      </div>
      <div class="table-responsive shadow-lg rounded-3 table-content">
        <div *ngIf="productos.length == 0">
          <div class="tablas_vacias">
            <div
              *ngIf="mostrarEliminados; else noProductosMessage"
              class="alert alert-success fs-5 col-8"
              role="alert"
            >
              No hay productos eliminados disponibles.
            </div>
            <ng-template #noProductosMessage>
              <div class="alert alert-success fs-5 col-8" role="alert">
                No hay productos disponibles.
              </div>
            </ng-template>
          </div>
        </div>
        <mat-card [style.display]="productos.length > 0 ? 'block' : 'none'">
          <mat-card-header>
            <mat-form-field style="font-size: 14px; width: 150px; height: 60px">
              <input
                matInput
                (keyup)="textoIngresado($event)"
                placeholder="Buscar"
              />
            </mat-form-field>
          </mat-card-header>
          <mat-card-content>
            <table
              mat-table
              matSort
              [dataSource]="datosTabla"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="logo">
                <th class="table-succes" mat-header-cell *matHeaderCellDef>
                  Logo
                </th>
                <td mat-cell *matCellDef="let producto">
                  <img
                    src="{{ producto.imagen }}"
                    class="object-fit-contain"
                    style="width: 50px"
                    alt="{{ producto.nombre }}"
                    (error)="handleImageError($event)"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
                <td mat-cell *matCellDef="let producto">{{ producto.sku }}</td>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nombre
                </th>
                <tr>
                  <td mat-cell *matCellDef="let producto">
                    {{ producto.nombre }}
                  </td>
                </tr>
              </ng-container>
              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Precio
                </th>
                <td mat-cell *matCellDef="let producto">
                  {{ producto.precio | currency : "USD" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef>Categoria</th>
                <td mat-cell *matCellDef="let producto">
                  {{ producto.categoria.categoria }}
                </td>
              </ng-container>
              <ng-container matColumnDef="proveedor">
                <th mat-header-cell *matHeaderCellDef>Proveedor</th>
                <td mat-cell *matCellDef="let producto">
                  {{ producto.proveedor.razonSocial }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Funcionalidades">
                <th mat-header-cell *matHeaderCellDef>Funcionalidades</th>
                <td mat-cell *matCellDef="let producto">
                  <div class="d-flex justify-content-center gap-3">
                    <button
                      type="button"
                      class="deleteBtn btn"
                      (click)="eliminarProducto(producto)"
                      [title]="
                        mostrarEliminados
                          ? 'Activar Producto - ' + producto.nombre
                          : 'Eliminar Producto - ' + producto.nombre
                      "
                      [ngClass]="
                        mostrarEliminados
                          ? 'm-0 btn-outline-primary'
                          : ' btn-outline-danger'
                      "
                    >
                      <fa-icon
                        [icon]="mostrarEliminados ? faCheck : faTrashCan"
                        class="fw-bolder fs-5"
                      ></fa-icon>
                    </button>
                    <button
                      type="button"
                      class="editBtn btn"
                      (click)="editarProducto(producto.id)"
                      [title]="'Editar Producto - ' + producto.nombre"
                      [ngClass]="mostrarEliminados ? 'd-none' : ''"
                    >
                      <fa-icon
                        [icon]="faPenToSquare"
                        class="fw-bolder fs-5"
                      ></fa-icon>
                    </button>

                    <button
                      type="button"
                      class="infoBtn btn"
                      (click)="productoDetalle(producto.id)"
                      [title]="'Ver detalle producto - ' + producto.nombre"
                      [ngClass]="mostrarEliminados ? 'd-none' : ''"
                    >
                      <fa-icon
                        [icon]="faCircleInfo"
                        class="fw-bolder fs-5"
                      ></fa-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnasMostradas"></tr>
            </table>
          </mat-card-content>
          <mat-card-footer>
            <mat-paginator [pageSize]="5" showFirstLastButtons> </mat-paginator>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
