.gradient-custom {
  background: -webkit-linear-gradient(to left, #6cbdb8, #acdbc6);
  background: linear-gradient(to left, #6cbdb8, #acdbc6);
}

h1,
h2 {
  color: #2e3f4c;
}

.editBtn {
  border: 1px solid #6cbdb8;
  color: #6cbdb8;
}

.editBtn:hover {
  background-color: #6cbdb8;
  color: white;
}

.table-content {
  background-color: whitesmoke;
}

th {
  background-color: #d1e7dd !important;
  font-weight: bolder;
  border-bottom: 2px solid black;
  margin: 0px;
  font-size: 1.15em;
}

td {
  padding: 1em;
  font-weight: 500;
  font-size: 1.15em;
}

tr:hover {
  background-color: #dcdcdc;
}

.mat-card {
  background-color: whitesmoke;
}

mat-card-header {
  display: flex;
  justify-content: end;
  height: 11vh;
}

table {
  margin-bottom: 1em !important;
}
