<div class="gradient-custom rounded-5 shadow-lg pb-5" style="min-height: 60vh">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-sm-10">
      <h2 class="mt-4">Productos y Servicios</h2>
      <div class="row justify-content-center mb-3 mt-4 align-items-center">
        <a
          type="button"
          class="btnAdd fw-bolder col-3 btn btn-success col-sm-12 col-md-3 mb-3 shadow"
          routerLink="/productos/form-productos"
        >
          <fa-icon [icon]="faCirclePlus" class="me-3"></fa-icon
          ><span>Agregar Producto</span>
        </a>
      </div>
      <div class="row justify-content-end mb-3">
        <label
          class="col-md-3 col-sm-12 form-check-label"
          for="showActiveOnlyCheckbox"
          role="button"
        >
          Mostrar eliminados
          <input
            class="form-check-input border-black fw-bolder"
            type="checkbox"
            id="showActiveOnlyCheckbox"
            [(ngModel)]="mostrarEliminados"
            (change)="listarProductos()"
          />
        </label>
      </div>
      <div
        *ngIf="productos.length > 0; else noProductos"
        class="table-responsive shadow-lg rounded-3"
      >
        <table class="table table-light table-hover align-middle m-0">
          <thead class="table-success">
            <tr>
              <th scope="col" class="d-none d-lg-table-cell">Logo</th>
              <th scope="col">SKU</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col" class="d-none d-lg-table-cell">Categoria</th>
              <th scope="col" class="d-none d-lg-table-cell">Proveedor</th>
              <th scope="col">Funcionalidades</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr
              class="align-middle fw-medium"
              *ngFor="let producto of productos"
            >
              <td class="d-none d-lg-table-cell">
                <img
                  src="{{ producto.imagen }}"
                  class="object-fit-contain"
                  style="width: 50px"
                  alt="{{ producto.nombre }}"
                  (error)="handleImageError($event)"
                />
              </td>
              <td>{{ producto.sku }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.precio | currency : "USD" }}</td>
              <td class="d-none d-lg-table-cell">
                {{ producto.categoria.categoria }}
              </td>
              <td class="d-none d-lg-table-cell">
                {{ producto.proveedor?.razonSocial }}
              </td>
              <td>
                <div class="d-flex justify-content-center gap-3">
                  <button
                    type="button"
                    class="deleteBtn btn"
                    (click)="eliminarProducto(producto)"
                    [title]="
                      mostrarEliminados
                        ? 'Activar Producto - ' + producto.nombre
                        : 'Eliminar Producto - ' + producto.nombre
                    "
                    [ngClass]="
                      mostrarEliminados
                        ? 'm-0 btn-outline-primary'
                        : ' btn-outline-danger'
                    "
                  >
                    <fa-icon
                      [icon]="mostrarEliminados ? faCheck : faTrashCan"
                      class="fw-bolder fs-5"
                    ></fa-icon>
                  </button>
                  <button
                    type="button"
                    class="editBtn btn btn-outline-primary"
                    (click)="editarProducto(producto.id)"
                    [title]="'Editar Producto - ' + producto.nombre"
                    [ngClass]="mostrarEliminados ? 'd-none' : ''"
                  >
                    <fa-icon
                      [icon]="faPenToSquare"
                      class="fw-bolder fs-5"
                    ></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #noProductos>
  <h2>No hay prductos disponibles.</h2>
</ng-template>
