<div class="gradient-custom rounded-5 shadow-lg">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-lg-10">
      <h2 class="mt-4 mb-5">Generar Orden de Compra</h2>
      <form
        #ordenCompraForm="ngForm"
        class="row g-3 p-3 col-md-10 col-sm-12 offset-md-1 offset-sm-0 border border-dark mb-5 rounded-4 shadow-lg"
        (ngSubmit)="onSubmit(ordenCompraForm)"
      >
        <div class="row">
          <div class="col-md-6">
            <label for="inputNroOrden" class="form-label">Nro Orden</label>
            <input
              type="text"
              class="form-control border border-dark"
              id="inputNroOrden"
              name="nroOrden"
              [(ngModel)]="ordenCompra.numeroOrden"
              #nroOrden="ngModel"
              required
              pattern="^[A-Z]{2}-[A-Z]\d{4}$"
              [ngClass]="nroOrden.errors ? 'is-invalid' : 'is-valid'"
              placeholder="e.g. OC-A1234"
            />
            <div
              class="col-auto"
              *ngIf="nroOrden.errors?.['pattern'] || nroOrden.errors"
            >
              <span class="form-text"> Ingresar formato válido. </span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputInformacionRecepcion" class="form-label"
              >Recibido por</label
            >
            <input
              type="text"
              class="form-control border border-dark"
              id="inputInformacionRecepcion"
              name="informacionRecepcion"
              [(ngModel)]="ordenCompra.infoRecepcion"
              #informacionRecepcion="ngModel"
              required
              pattern="^[A-Za-zÁ-ú\s]{3,}(?:\s[A-Za-zÁ-ú\s]{3,})+$"
              [ngClass]="
                informacionRecepcion.errors ? 'is-invalid' : 'is-valid'
              "
              placeholder="e.g. Juan Perez"
            />
            <div
              class="col-auto"
              *ngIf="informacionRecepcion.errors?.['pattern'] || informacionRecepcion.errors"
            >
              <span class="form-text">
                Debe ingresar un nombre y apellido válido.
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="emisionDate" class="form-label">Fecha Emisión</label>
            <input
              required
              disabled
              type="date"
              class="form-control border border-dark"
              id="inputDate"
              name="fechaEmision"
              [(ngModel)]="ordenCompra.fechaEmision"
              #fechaEmision="ngModel"
              [ngClass]="fechaEmision.errors ? 'is-invalid' : 'is-valid'"
            />
          </div>
          <div class="col-md-6">
            <label for="inputDate" class="form-label">Fecha Entrega</label>
            <input
              [min]="minFechaEntrega()"
              required
              type="date"
              class="form-control border border-dark"
              id="inputDate"
              name="fechaEntrega"
              [(ngModel)]="ordenCompra.fechaEntrega"
              #fechaEntrega="ngModel"
              [ngClass]="fechaEntrega.errors ? 'is-invalid' : 'is-valid'"
            />
            <div class="col-auto" *ngIf="fechaEntrega.errors">
              <span class="form-text">
                Debe seleccionar la fecha de entrega.
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-2 mt-3 justify-content-center">
          <label class="form-label" for="informacionAdicional"
            >Información Adicional</label
          >
          <div class="col-12">
            <textarea
              class="form-control border border-dark is-valid"
              id="informacionAdicional"
              name="informacionAdicional"
              [(ngModel)]="ordenCompra.infoAdicional"
              placeholder="Información que considere necesaria - Opcional"
              [maxlength]="ordenCompra.infoAdicional ? 50 : null"
            ></textarea>
          </div>
        </div>
        <div class="row align-items-start mt-4">
          <div class="col-sm-6 col-md-4">
            <label for="inputProveedor" class="form-label">Proveedor</label>
            <select
              id="inputProveedor"
              class="form-select border border-dark"
              name="proveedorSeleccionado"
              [(ngModel)]="proveedorSeleccionado"
              #proveedor="ngModel"
              [ngClass]="!proveedorSeleccionado ? 'is-invalid' : 'is-valid'"
              (change)="listarProductos(proveedor.value)"
              [disabled]="ordenCompra.detallesOrden.length > 0"
            >
              <option value="" disabled selected>
                Selecciona un proveedor
              </option>
              <option *ngFor="let p of proveedores" [value]="p.id">
                {{ p.razonSocial }}
              </option>
            </select>
            <div class="col-auto" *ngIf="!proveedorSeleccionado">
              <span class="form-text"> Seleccione una opción. </span>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <label for="inputProductoSeleccionado" class="form-label"
              >Producto</label
            >
            <select
              id="inputProductoSeleccionado"
              class="form-control border border-dark"
              name="productoSeleccionadoName"
              [(ngModel)]="productoSeleccionadoName"
              #producto="ngModel"
              [ngClass]="
                !productoSeleccionadoName || !productos.length
                  ? 'is-invalid'
                  : 'is-valid'
              "
            >
              <ng-container
                *ngIf="productos && productos.length > 0; else noProductos"
              >
                <option value="" disabled selected>
                  Selecciona un producto
                </option>
                <option *ngFor="let p of productos" [value]="p.nombre">
                  {{ p.nombre }}
                </option>
              </ng-container>
              <ng-template #noProductos>
                <option disabled selected>
                  No hay productos disponibles para este proveedor
                </option>
              </ng-template>
            </select>
            <div class="col-auto" *ngIf="!productoSeleccionadoName">
              <span class="form-text"> Seleccione una opción. </span>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <label for="inputCantidadProducto" class="form-label"
              >Cantidad</label
            >
            <input
              type="number"
              class="form-control border border-dark"
              id="inputCantidadProducto"
              name="cantidadProducto"
              [(ngModel)]="cantidadProducto"
              #cantidad="ngModel"
              [ngClass]="cantidadProducto <= 0 ? 'is-invalid' : 'is-valid'"
            />
            <div class="col-auto" *ngIf="cantidadProducto <= 0">
              <span class="form-text">Mayor a 0. </span>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-6">
            <button
              type="button"
              [disabled]="isValidAgregarButton()"
              class="btn btn-primary mt-3 fw-bold deleteBtn"
              (click)="agregarProducto()"
            >
              Agregar Productos
            </button>
          </div>
        </div>
        <div class="col-10 offset-1 mt-4">
          <h3>Productos Agregados</h3>
          <table
            *ngIf="ordenCompra.detallesOrden.length > 0"
            class="table table-secondary table-striped-columns align-middle"
          >
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ordenCompra.detallesOrden">
                <td>{{ item.producto.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>
                  {{
                    (item.precio || 0) * (item.cantidad || 0) | currency : "USD"
                  }}
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    (click)="eliminarProducto(item.producto)"
                    [title]="'Eliminar ' + item.producto.nombre + '?'"
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="fw-bold">Total a Pagar:</td>
                <td class="fw-bold">
                  {{ ordenCompra.total | currency : "USD" }}
                </td>
              </tr>
            </tfoot>
          </table>
          <p *ngIf="ordenCompra.detallesOrden.length == 0">
            No hay productos agregados.
          </p>
        </div>
        <div class="row text-center justify-content-center gap-3">
          <button
            type="submit"
            class="btn btn-success fw-bold col-md-2"
            [disabled]="
              !ordenCompraForm.valid || ordenCompra.detallesOrden.length == 0
            "
          >
            Generar orden
          </button>
          <button
            type="button"
            class="btn btn-danger fw-bold col-md-2"
            (click)="vaciarOrdenCompra(ordenCompraForm)"
          >
            Vaciar campos
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
