.page-not-found {
  background: #dcdcdc;
  height: 70vh;
}
.page-not-found h2 {
  font-size: 130px;
  color: #f17e27;
}
.page-not-found h3 {
  font-size: 42px;
}
.page-not-found .bg-light {
  background-color: whitesmoke;
  padding: 50px 0px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .page-not-found h2 {
    font-size: 100px;
  }
  .page-not-found h3 {
    font-size: 28px;
  }
}
