<nav
  class="navbar navbar-expand-lg sticky-top shadow mb-5"
  style="min-height: 10vh; width: 100vw"
>
  <div class="container-fluid me-5">
    <a class="navbar-brand" href="/index">
      <img
        src="../../../assets/brand3.png"
        width="120"
        height="30"
        class="d-inline-block align-text-top ms-5"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="dropdown1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Proveedores
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="dropdown1"
          >
            <li>
              <a class="dropdown-item fw-bold" [routerLink]="['/proveedores']"
                >Listar todos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item fw-bold"
                [routerLink]="['/proveedores/form-proveedores']"
                >Crear nuevo</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="dropdown1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Productos y Servicios
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="dropdown1"
          >
            <li>
              <a class="dropdown-item fw-bold" [routerLink]="['/productos']"
                >Listar todos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item fw-bold"
                [routerLink]="['/productos/form-productos']"
                >Crear nuevo</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="dropdown1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ordenes de compra
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="dropdown1"
          >
            <li>
              <a
                class="dropdown-item fw-bold"
                [routerLink]="['/ordenes-compra']"
                >Listar todas</a
              >
            </li>
            <li>
              <a
                class="dropdown-item fw-bold"
                [routerLink]="['/ordenes-compra/form-ordenes-compra']"
                >Generar nueva</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-5">
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="dropdown1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUser" class="fw-bolder fs-3"></fa-icon>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdown1"
          >
            <li>
              <a class="dropdown-item fw-bold border-bottom"
                >Informacion del usuario</a
              >
            </li>
            <li>
              <a (click)="cerrarSesion()" class="dropdown-item fw-bold"
                >Cerrar Sesión</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
