.gradient-custom {
  background: -webkit-linear-gradient(to left, #6cbdb8, #acdbc6);
  background: linear-gradient(to left, #6cbdb8, #acdbc6);
}

form {
  background-color: whitesmoke;
}

h1 {
  color: #2e3f4c;
}
