<div class="gradient-custom rounded-5 shadow">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-lg-10 pt-2">
      <form
        #productoForm="ngForm"
        class="row g-3 p-3 col-md-10 mt-5 mb-5 col-sm-12 offset-md-1 offset-sm-0 border border-dark rounded-4 shadow-lg"
        (ngSubmit)="onSubmit(productoForm)"
      >
        <div class="col-md-6">
          <label for="inputSku" class="form-label">SKU</label>
          <input
            type="text"
            class="form-control border border-dark"
            id="inputSku"
            name="sku"
            [(ngModel)]="producto.sku"
            #sku="ngModel"
            required
            pattern="^[A-Z]{3}-[A-Z]\d{5}$"
            [ngClass]="sku.errors || skuValido ? 'is-invalid' : 'is-valid'"
            placeholder="e.g. SKU-E00551"
            (focusout)="validarSku()"
          />
          <div
            class="col-auto"
            *ngIf="sku.errors?.['pattern'] || sku.errors ||skuValido"
          >
            <span class="form-text">{{
              skuValido ? skuValido : "Ingrese formato válido."
            }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputName" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control border border-dark"
            id="inputName"
            name="nombre"
            [(ngModel)]="producto.nombre"
            #nombre="ngModel"
            required
            minlength="5"
            [ngClass]="nombre.errors ? 'is-invalid' : 'is-valid'"
            placeholder="e.g. Teléfono inteligente"
          />
          <div
            class="col-auto"
            *ngIf="nombre.errors?.['minlength'] || nombre.errors"
          >
            <span class="form-text"> Debe tener al menos 5 caracteres. </span>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputPrice" class="form-label">Precio</label>
          <input
            type="number"
            class="form-control border border-dark"
            id="inputPrice"
            name="precio"
            [(ngModel)]="producto.precio"
            #precio="ngModel"
            required
            min="1"
            [ngClass]="precio.errors ? 'is-invalid' : 'is-valid'"
          />
          <div class="col-auto" *ngIf="precio.errors?.['min'] || precio.errors">
            <span class="form-text"> El precio debe ser mayor a 0. </span>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputImg" class="form-label">Imagen</label>
          <input
            type="url"
            placeholder="e.g. https://www.google.com/image.jgp"
            class="form-control border border-dark"
            id="inputImg"
            name="imagen"
            [(ngModel)]="producto.imagen"
            #imagen="ngModel"
            pattern="^(https?|ftp):\/\/[^\s/$.?#].[^\s]*"
            required
            [ngClass]="imagen.errors ? 'is-invalid' : 'is-valid'"
          /><img
            class="mt-2"
            *ngIf="producto.imagen"
            [src]="producto.imagen"
            (error)="handleImageError($event)"
          />
          <div
            class="col-auto"
            *ngIf="imagen.errors?.['pattern'] || imagen.errors"
          >
            <span class="form-text"> Debe ser una URL válida.</span>
          </div>
        </div>
        <div class="col-12">
          <label for="inputDescription" class="form-label">Descripción</label>
          <textarea
            class="form-control border border-dark"
            id="inputDescription"
            name="descripcion"
            [(ngModel)]="producto.descripcion"
            #descripcion="ngModel"
            required
            pattern="^([,\wáéíóúüñ\s\.\-,;]+[.,;]?\s){4,}[,\wáéíóúüñ\s\.\-,;]+[.,;]?$"
            [ngClass]="descripcion.errors ? 'is-invalid' : 'is-valid'"
            placeholder="e.g. Teléfono inteligente Android 13"
          ></textarea>
          <div
            class="col-auto"
            *ngIf="descripcion.errors?.['pattern'] || descripcion.errors"
          >
            <span class="form-text">Debe tener al menos 5 palabras.</span>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputCategory" class="form-label">Categoria</label>
          <select
            required
            id="inputCategory"
            class="form-select border border-dark"
            name="categoria"
            [(ngModel)]="producto.categoriaId"
            #categoria="ngModel"
            [ngClass]="
              categoria.errors || !producto.categoriaId
                ? 'is-invalid'
                : 'is-valid'
            "
          >
            <option value="" disabled selected>Selecciona una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.categoria }}
            </option>
          </select>
          <div
            class="col-auto"
            *ngIf="categoria.errors || !producto.categoriaId"
          >
            <span class="form-text"> Seleccione una opción. </span>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputProvider" class="form-label">Proveedor</label>
          <select
            required
            id="inputProvider"
            class="form-select border border-dark"
            name="proveedor"
            [(ngModel)]="producto.proveedorId"
            #proveedor="ngModel"
            [ngClass]="
              proveedor.errors || !producto.proveedorId
                ? 'is-invalid'
                : 'is-valid'
            "
          >
            <option value="" disabled selected>Selecciona un proveedor</option>
            <option
              *ngFor="let proveedor of proveedores"
              [value]="proveedor.id"
            >
              {{ proveedor.razonSocial }}
            </option>
          </select>
          <div
            class="col-auto"
            *ngIf="proveedor.errors || !producto.proveedorId"
          >
            <span class="form-text"> Seleccione una opción. </span>
          </div>
        </div>
        <div class="row text-center justify-content-center gap-3 mt-4">
          <button
            type="submit"
            class="btn btn-success fw-bold col-md-3"
            [disabled]="
              !productoForm.valid ||
              !producto.categoriaId ||
              !producto.proveedorId ||
              skuValido
            "
          >
            {{ id ? "Editar producto" : "Generar producto" }}
          </button>
          <button
            type="button"
            class="btn btn-danger fw-bold col-md-3"
            (click)="vaciarForm(productoForm)"
          >
            Vaciar campos
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
